/* Estilo geral para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Container principal */
div {
  max-width: 600px;
  margin: 0 auto;
  padding: 13px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Título principal */
h1 {
  text-align: center;
  color: #333;
}

/* Formulário */
form {
  margin-top: 20px;
}

/* Rótulos para os campos de entrada */
label {
  font-family: Arial, sans-serif;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Campos de entrada */
input[type="number"] {
  align-items: center;
  width: 97%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Botão de cálculo */
button {
  width: 100%;
  padding: 10px;
  background-color: #4e77a7;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Delei na transição e cor dela */
button:hover {
  transition: background-color 0.4s;
  background-color: #013975;
}

.ResultadosTudo{
  margin: 3px;
}

/* Resultados Título*/
h2 {
  margin-top: 20px;
  color: #333;
}

/*Resultados itens*/
.Resultados{
  color: rgba(78, 95, 95, 0.767);
  margin-top: 25px;
}